@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html {
 scroll-behavior: smooth;
}
a:hover {
   color: #12c6f4;
   text-decoration: underline;
}
body {
    color: #666666;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0 
}
h1 {
    font-size: 24px 
}
h2 {
    font-size: 22px 
}
h3 {
   font-size: 25px;
   margin: 25px 0 0 0;
   padding: 0;
   line-height: 25px;
}
h3 strong {
   font-weight: 300;
   font-size: 18px;
}
h4 {
    font-size: 16px 
}
h5 {
   font-size: 15px;
   position: relative;
   z-index: 1;
   padding-bottom: 5px;
}
h6 {
    font-size: 13px 
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1 
}
.heroslider .container {
    position: relative;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 5;
}

slider_section h1 {
    font-size: 65px;
    line-height: 65px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 0;
    margin-top: 140px;
}
.slider_section h1 strong.cur {
    font-size: 50px;
    line-height: 50px;
    color: #5293b7;
    font-weight: 400;
}
.slider_section p {
    color: #fff;
    font-size: 17px;
}

.slide_img {
    margin-top: 40px;
    margin-bottom: 0;
}
